* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #39a6b2;
    font-family: helvetica, Arial, sans-serif;
}

header {
    padding: 20px 35px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: red;
    margin: 0;
}

header a {
    text-decoration: none;
    color: red;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: blue;
    color: red;
    border-radius: 15px;
    text-shadow: none;
}

section {
    padding: 60px;
}

.hero {
    background-image: url("../assets/images/space-big.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: max-content;
}

.hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    line-height: 1.3;
}
.intro {
    text-align: center;
}

.intro h2 {
    font-size: 55px;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 30x solid;
    border-color: #fce138;
}

.intro p {
    line-height: 1.7;
    color: red;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}

.section-title {
    font-size: 55px;
    color: blue;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    display: inline-block;
    border-bottom: 3px solid;
}

.primary-border {
    border: #fce138;
}

.secondary-border {
    border-color: red;
}

.contact {
    text-align: center;
    background: blue;
}

.contact h2 {
    color: #fce138;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info ul li a{
    color: white;
    display: inline-block;
}

footer {
    background: blue;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    display: inline;
    color: greenyellow;
    font-size: 30px;
    margin: 0;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: greenyellow;
}